* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  background-color: bisque;
  margin-left: auto;
  margin-right: auto;
}

.menu__logo {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.menu__item-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin-left: 30px;
  margin-right: 20px;
}
